.jumbotron {
    text-align: center;Hah! Sup yo! Getting anything done in class?? hahah. Weeellll I was in computer appps and finished
    the material for the day with half an hour left so I started making a site portfolio... I didn't get very far along
    
    
    Dude sick! i just updated my portfolio yesterday. Dude i suck at typing haha i watch you type and im like... dam. check leviaaron.com

    aight i will haha .. A part of my computer apps class is we type on this one website for 15 minutes a day and it's a breeezee
    hahahha yeah you suck... I kid! We use typing.com it starts super basic but it could be helpful typing.com.. typing.io is for code
    I use that when I get bored typing on typing.com haha super left right 15
    did you use bootstrap for leviaaron? cause it looks freakin' sexy.. Like super professional. Ahhhhh... I need to get more into code
    I always find some time and do it a lot then all the sudden I'm busy again... After cheer comp I should have more time
    That's pretty awesome... Do you do much with javascript without bootstrap?
    I feelya!
    
    Hahahaha that suuuucks I would love a 2 week code camp where I just got away and was taught by professionals
    
    Yeah....
    
    True true true, I need to stick with a treehouse course... I always get busy and forget where I am
    Yeah I hopped on and it needed new payment. Just keep the money you owed me that'll be my pitch in haha. 
    You can get on but you can't do a whole lot... Like 80 now. lmao I was gonna say the same pun.. I've gotten ridiculousely
    ... good? bad? at puns.. They are so frequent its ridiculous
    Glad you got me into it haha, easy to make light of situations with it. hahaha! Except Kayla.. She sucks still
    troo troo. Nah. kinda. Open relationship basically.Hahaha girls are weird. Oh well. Making out is nice. Stressful af
    Her anxiety is soooo baddddd. Think she has some. I read on reddit the other day that one use of shrooms can help with 
    anxiety and shit... Hmmm... It can go both ways though. Lots of stories of good trips improving their lives and bad trips where
    blood poors down the walls and theyre sketched for a year... yeah haha... I've always wanted to try a psychadellic but...
    Gonna wait on that shit for college or something
    
    haha screw you man. I still practice typing sometimes. I never learned the correct way in school. Im suffering now. As you can seeee
    Ima kill you.
    is that typing.com or typing.io? hahah right on. left right left right . hahaha grsdalkjd hahaha
    There are some sick bootstrap themes out there that you could use for a portfolio
    yes its a bootstrap theme. I had to trim it down to fit my content. I only have three prohects to put on there.. it looked best with 6. 
    http://startbootstrap.com/template-categories/portfolios/
    
    thats where i got it... i actually did very little work on my portfolio hahah cheeeeetinggg. I spent a few hrs. but most of it was hanndled by the theme. 
    I dont... but i NEED to. I need to learn JS so so bad. Im usually stuck working on other projects. The JS course here in schooled sucked donkey DIICK. My teech doesnt teech shiiit
    i think its gunna cost me in the workplace not knowing JS, i was thinking about that yesterday. tryna relearn. 
    there are some awesome code camps out there
    expensive tho
    but.... at your age dude.. you have allll the time in the world to soak up whats on the internet. Meee too!! i do the same thing. I think my treehouse shit is behind again haha dam i jsut saw an email today. 
    i need to spend a few weeks on that shit
    does it still let you in?
    haha nah i owe you like $100
    ah shit. ima get that paid today. 
    nah 100... its called interest. interestingly enuff 
    haha great minds think alike. 
    hahah my man!! thats how it should be. keeps you sharp between the ears. 
    Problem is... everyone is getting better than me!!
    Daym kicks my ass at puns 
    haha giv eit time.. women are smart AF 
    U guys officially dating? or naaahhhh
    that was me and daym for 3 years.,.. then we accidentally live together. idk haha 
    HELLLA weeirrd
    GIrls r fun... but soo so weird and stressful
    hahah helll yeah dude!
    dam she needs pills lmao
    hahah i could believe that.. in low dosage. 
    hahaha!! a yearr! dam thats a bad trip fo sho. 
    hahah!! i'd say get your life in order a lil bit bfore u play with that shit. obviously nobody can stop u from doing what u wanna do. 
    but it would be helpful to like have a steady career and income and shit figured out a little bit. 
    all my friends just dont accomplish shit and do drugs all day. gay AF
    experimenting with that shit put me so far behind in life. 
    Its like this... do you want nice things? or do you want a quick little high/drunk whatever feeling. 
    but.... i personally dont think weed is bad for instance... but it can easily become "bad" because all you wanna do is smoke weed so its like.... nah
    I definitely wouldnt be in a hurry to give it a go. 
    its nothing special bruh. its no magic elixhir. 
    hahah! exactly... its just a whole realm of complications really
    especially bcuz its currently illegal sooo even more stressful. cuz you can easily end up in jail accidentally haha which is even MORE gay. Dont do jail dude. avoid. Its gay. 
    The first thing i thought in jail was.... was the FUCK do i do... i dont have a cell phone??? shit shit shit
    cell phone withdrawal was weiirdd haha 
    cant contact ANYONE. i hated that. yeah very boring. makes you anxious bcuz you feel liek you have no control over anyhting. You dont really. 
    Mom and dad said they were gunna bail me out the 2nd time i went in. 
    I start packing my shit up. they never show.. i have to remake my bed. look like foooll!! hahah
    sucked so hard.Yeah
    nobody updated me to say they werent coming. 
    nah it made no difference one way or the other. i was just upset that i was lied to. 
    but they thought i was lying about a friend that cam eot see me in jail.... he wasnt on the log of visitors. 
    made no sense. i still dont fully understand the story. 
    Haha yeah? tell me about that :) 
    hahah i remember feeling similar sentiment when erika was going berserk. 
    everyone in class can hear my loud ass keyboard... adn thinks im typing LINES AND LINES of code. 
    ah shit. my class starts in 5 min. 
    ima let em think im typing code haah
    one dude was like.. why cant you jsut copy and paste like the rest of us hahaha
    This is some very sytactical CSS 
    haha i think thats a word
    syntax 
    syntactical this guy
    idk 
    haha
    
.this{
    is:syntactical AF;
}

.boom{
    bitch:SUCKA!!;
}

#good{
    luck:fixing all this CSS ya bisch;
}

.lines {
    5 of them: literally;
}

ohhhhh so we have a master coder in the HOUSSSEE!! Slabo.... never heard of it. is that cool? ima look
oh hell yeah thats cool AF
good chouce. 
thats the new spelling for choice. btw
HAHAHAH!!!! fuck you dude. thats funny AF
hahaha thats hillarious! 
that funny as AF 

and you'd be like.... what. what . huh. you wanna dance 
you see the new rocky movie?
idk i needa see it 
im not like a big rocky fan 
but it ight be good 
dad likes that shit 
hahaha dammit she screwed you
hahaha knew i could be wrong 
hahahah!!!!  welll age isnt an obstacle. but a dam that pretty accurate. anything lower than a 5.5 is un-hittable. ....... yyeaaahhh 
hahaha!! dam 
gagaga 
hahahaahaa
aha
haahaha
haahahaah 
thats my hahah code block

ahahha!! 

shit class is starting. i g2g ma nig 
this new chat app is...... unique lmao 
aight peace out yo. Nice talkin'
Hahahahaha
.hahaha #haha {
    haha: hahaha;
    lmfao:lolol;
    tee: hee;
    ro: fl;
    
}
.jumbotron {
    text-align: center;
}

.jumbotron h1 {
    font-family: 'Slabo 27px';
}

idk man it was on google fonts
crown-the-empire.leviaaron.com/test/index.php

I wouldn't chouse to spell it any other way... Oh also mom once said as af so now we all have to say it that way
hahaha... Good thing my class is loud.. they'd all be lookin' at me like this nigga
Hahahahhahahahaha.. Naaahhh, good? Ah. Me niether. Maybe... I don't really like boxing movies. Yeah I'll probs download it
and watch it with him. Dawww fuck.. It's a worksheet how am I supposed to work throug hit with help from hotmath

If she was cute and young I'd say I wish she screwed me... But shes like a  and like 30.
I like my clothing like I like my women.... Fuck yes or no
    
   Yeah I think you're right. Prob should keep it safe... ah... I've had several opportunities... Just don't really care to get init
   Troo troo. I'm with you there. That's why I've been hesitant to try it. Yeah ive got plenty of time. I talk to my buddy in 
   texas working a dead end job smokin a bowl every night watching a movie and I'm like... Why... Like on the weekend get high 
   and watch a movie sure but a lifestyle?? Fuck thattttttt. Yeah hahaha... One wrong move.. I don't plan to. literlaly?
   Oh man that would be rough... Just so boring Id think.
   Ahhhh I wouldn't like that.. I don't like losing control of my situations...Ahhhh
   Ahhhhhh.. THink it was the right choice of em? Or did it just fuel the hate n shit? Ah.Ah I see....
   That sucks... I remember those days... I just remember like.. Idk.. I remember the parents being all stressed out and i just
   Kinda escaped to my ipod game hahaha... Ah I bet... lmao.. I''m not paying attention in calculus....' Ahhhh... Everyones gonnna
   be loike yo lets see your work. Lmfao. sytatical synactical?
   
   .deez nuts {
       suck em: true;
   }
   
   .crocs {
       those: what are;
   }

    
    
    
}

.jumbotron h1 {
    font-family: 'Slabo 27px';
}