.nav a {
  color: #5a5a5a;
  font-size: 13px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav .container {
  padding-top: 20px;
  padding-bottom: 14px;
}

.fixed-nav-bar {
  position: fixed;
  top: 20px
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 10%;
  background-color: #f7f7f7;
}

.nav li {
  display: inline;
}

.nav a:hover {
  background-color: rgb(200,200,200);
  text-decoration: none;
}

.logo {
  background-color: black;
}

.jumbotron {
  position: relative;
  top: 30px;
  background-image:url('http://www.riserecords.com/mediafiles/artist_downloads/26_1_CTEhires.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  right: 30px;
  bottom: 20px;
}

.jumbotron img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 150px;
}

/*
.jumbotron h1 {
  font-size: 80px;  
  font-family: Ranga;
  font-weight: bold;
}
*/

.jumbotron p {
  font-size: 30px;
  font-family: 'Ranga';
}

.jumbotron .container a {
  font-family: Ranga;
  font-size: 20px;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    top: 20px;
    text-align: center;
    font-family: Ranga;
    text-decoration: bold;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 60px;
}

.neighborhood-guides p {
    font-size: 30px;
    margin-bottom: 13px;
}

.thumbnail {
  background-color: #efefef;
  border: none;
}

.thumbnail h1 {
  text-align: center;
  text-decoration: none;
}

.learn-more {
  background-color: #f7f7f7;
  position: relative;
  top: 30px;
  padding-bottom: 20px;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.videos {
  position: relative;
  top: 75px;
  text-align: center;
  font-family: Ranga; 
  background-color: rgb(240,240,240);
}

.videos h1 {
  font-size: 65px;
}

.videos p {
  font-size: 30px;
}

