.logo a {
    position: relative;
    top: 14px;
}

.nav a {
  font-size: 13px;
  font-weight: bold;
  padding: 14px 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.fixed-nav-bar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 9%;
  background-color: #43B3FF;
  border-bottom: solid 1px #dbdbdb;
}

#navbar {
  border-bottom: solid 2px #151515;
}

.nav li {
  display: inline;
}

.pull-right {
    text-align: right;
    position: relative;
    top: -21px;
    right: 30px;
}

p {
    font-family: 'Shift';
    text-align: center;
    position: relative;
}

h1 {
    font-family: 'Shift';
    text-align: center;
    position: relative;
    margin-top: 18%;
}

.poem {
    background-color: #40C4FF;
}

h5 {
    font-family: 'Shift';
    text-align: center;
    position: relative;
}

.home {
    background-color: #40C4FF;
}

a {
    font-family: 'Shift';
}

h3 {
    font-family: 'Shift';
    position: relative;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.goat img {
    position: relative;
    left: 35px;
    margin-left: auto;
    margin-right: auto;
}

